name: Deploy Azure VNet using Terraform

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write    # GitHub OIDC token
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login using OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -var "subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
                             -var "client_id=${{ secrets.AZURE_CLIENT_ID }}" \
                             -var "tenant_id=${{ secrets.AZURE_TENANT_ID }}"

      - name: Terraform Apply
        run: terraform apply -auto-approve -var "subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
                                                 -var "client_id=${{ secrets.AZURE_CLIENT_ID }}" \
                                                 -var "tenant_id=${{ secrets.AZURE_TENANT_ID }}"
